# Movie Recommender System Analysis

## Dataset preprocessing steps

1. Remove any entries empty values in either the genres, ratings or tags attributes (script1) X
2. Categoryze the Genre and tags attribute through categorical bining or multi-classification (script2) 
3. Split the dataset 80/20 into training and testing set and save them seperately (script3) X
4. Keep testing labels seperate for scoring purposes but use testing features for testing

the following script will to step one of the data preprocessing

In [1]:
#library definitions
import pandas as pd

In [2]:
df1 = pd.read_csv('movielense\\ml-latest-small\\movies.csv')
#df1.head()
#df1.info()
#df1.isnull().sum() #to confirm dataframe is clean of empty values
df1
#movie_counts = df1["movieId"].value_counts()
#movie_counts

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
df2 = pd.read_csv('movielense\\ml-latest-small\\ratings.csv')
df2.drop('timestamp', axis=1, inplace=True)
df2
#df2.info()
#df2.isnull().sum() #to confirm dataframe is clean of empty values

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [16]:
df3 = pd.read_csv('movielense\\ml-latest-small\\tags.csv')
df3.drop('timestamp', axis=1, inplace=True)
#df3.info()
#df3.info()
#df3.head()
#df3.isnull().sum() #to confirm dataframe is clean of empty values
#way to convert the tags table such that the tags are all in one row for each movie id, reduce number of entries (consodlidation)
df3['tag'] = df3.groupby(['userId', 'movieId'])['tag'].transform(lambda x: '|'.join(x))
df3 = df3.drop_duplicates()
#df3.info()
df3.head()

    userId  movieId                                      tag
0        2    60756       funny|Highly quotable|will ferrell
3        2    89774               Boxing story|MMA|Tom Hardy
6        2   106782  drugs|Leonardo DiCaprio|Martin Scorsese
9        7    48516                             way too long
10      18      431                 Al Pacino|gangster|mafia

In [25]:
#way to merge the movie and tag tables to the ratings table
data0 = df2.merge(df1, on="movieId", how="left")
data = data0.merge(df3, how="left", left_on=["userId", "movieId"], right_on=["userId","movieId"])
#data[data['userId'] == 2]
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   userId   100836 non-null  int64
 1   movieId  100836 non-null  int64
 2   rating   100836 non-null  float64
 3   title    100836 non-null  object
 4   genres   100836 non-null  object
 5   tag      1635 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 5.4+ MB

,userId,movieId,rating,title,genres,tag
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,NaN
2,1,6,4.0,Heat (1995),Action|Crime|Thriller,NaN
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,NaN
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,NaN

In [29]:
#splitting into training and testing
n, d = data.shape
h1 = round(0.8 * n)
h2 = n - h1
Data_train = data.iloc[:h1]
Data_test = data.iloc[h1:]
Data_train

,userId,movieId,rating,title,genres,tag
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,NaN
2,1,6,4.0,Heat (1995),Action|Crime|Thriller,NaN
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,NaN
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,NaN
...,...,...,...,...,...,...
80664,509,52722,1.0,Spider-Man 3 (2007),Action|Adventure|Sci-Fi|Thriller|IMAX,NaN
80665,509,52973,2.5,Knocked Up (2007),Comedy|Drama|Romance,NaN
80666,509,52975,3.5,Hairspray (2007),Comedy|Drama|Musical,NaN
80667,509,53121,3.0,Shrek the Third (2007),Adventure|Animation|Children|Comedy|Fantasy,NaN
80668,509,53123,3.5,Once (2006),Drama|Musical|Romance,NaN

In [11]:
#when exporting
#df.to_csv('movielense\ml-latest-small-cleaned\moviesclean.csv')

In [6]:
#once this data table is created, create a interaction matrix to calculate corelation scores between movies 
movie_user = data.pivot_table(index='userId',columns='movieId',values='rating')
movie_user.head()
movie_user.info()
movie_user

<class 'pandas.core.frame.DataFrame'>
Int64Index: 610 entries, 1 to 610
Columns: 9724 entries, 1 to 193609
dtypes: float64(9724)
memory usage: 45.3 MB

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
user_movie = data.pivot_table(index='movieId',columns='userId',values='rating')
user_movie

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
#corelation matrices 
#movie corelatoion matrix

correlations = movie_user.corrwith(movie_user[1])
corr_frame = correlations.to_frame()
corr_frame.columns= [1]

#movie_movie = data.pivot_table(index='movieID',columns='movieId',values='rating')
#user corelation matrix
ucorrelations = user_movie.corrwith(user_movie[1])
ucorr_frame = ucorrelations.to_frame()
ucorr_frame.columns= [1]

C:\Users\3picm\anaconda3\lib\site-packages\numpy\lib\function_base.py:2526: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\3picm\anaconda3\lib\site-packages\numpy\lib\function_base.py:2455: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [72]:
#for i in movie_user.columns:
#    if i != 1:
#        corr_frame[i] = movie_user.corrwith(movie_user[i])
ucorr_frame

               1
userId
1       1.000000
2            NaN
3       0.079819
4       0.207983
5       0.268749
...          ...
606     0.066378
607     0.174557
608     0.268070
609    -0.175412
610    -0.032086

[610 rows x 1 columns]

Ideal output:
1. Predictions: the interaction matrix is full of predicted ratings for all user for all movies
2. reccomendations: the user will have the highest rated movies reccomended based on similarities to past movies they have enjoyed just KNN with weights

1.
-compare average ratings weighed by similarity (cosine similiraties or correlation values and/or genomes later) from our corelation matrix
steps:
1.1go through each movie for a given user
1.2for each movie pull k amount of similar movies from corelation matrix (create this next (using genres and ratings and maybe tags for corelations values))
1.3find all similar users with similar movie ratings to the given user (cosine similarity on 2nd corelation matrix)
1.4then compare each of those k movies from all similar users and find the avarage ratings for each and then calculate a predicted rating how 
#question,what would be a good way to calculate accuracy?

In [8]:
#df5 = pd.read_csv('movielense\\\\genome-tags.csv', index_col=0)
#df5.head()
#df5.info()

In [7]:
#df4 = pd.read_csv('movielense\\\\genome-score.csv', index_col=0)
#df4.head()
#df4.info()

In [9]:
#extra feature extraction
Average_ratings = pd.DataFrame(data.groupby('movieId')['rating'].mean())
Average_ratings['Total Ratings'] = pd.DataFrame(data.groupby('movieId')['rating'].count())
Average_ratings