# Movie Recommender System Analysis

## Dataset preprocessing steps

1. Remove any entries empty values in either the genres, ratings or tags attributes (script1) X
2. Categoryze the Genre and tags attribute through categorical bining or multi-classification (script2) 
3. Split the dataset 80/20 into training and testing set and save them seperately (script3) X
4. Keep testing labels seperate for scoring purposes but use testing features for testing

the following script will to step one of the data preprocessing

In [2]:
#library definitions
import pandas as pd

In [3]:
df1 = pd.read_csv('movielense\\ml-latest-small\\movies.csv')
df1.head()
#df1.info()
#df1.isnull().sum() #to confirm dataframe is clean of empty values

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [16]:
df2 = pd.read_csv('movielense\\ml-latest-small\\ratings.csv')
df2.drop('timestamp', axis=1, inplace=True)
df2.head()
#df2.info()
#df2.isnull().sum() #to confirm dataframe is clean of empty values

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [33]:
df3 = pd.read_csv('movielense\\ml-latest-small\\tags.csv')
df3.drop('timestamp', axis=1, inplace=True)
#df3.info()
#df3.head()
#df3.isnull().sum() #to confirm dataframe is clean of empty values
#way to convert the tags table such that the tags are all in one row for each movie id, reduce number of entries (consodlidation)
df3['tag'] = df3.groupby(['userId', 'movieId'])['tag'].transform(lambda x: '|'.join(x))
df3 = df3.drop_duplicates()
df3.info()
#df3.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1775 entries, 0 to 3682
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   1775 non-null   int64
 1   movieId  1775 non-null   int64
 2   tag      1775 non-null   object
dtypes: int64(2), object(1)
memory usage: 55.5+ KB

In [36]:
#way to merge the movie and tag tables to the ratings table
data0 = df2.merge(df1, on="movieId", how="left")
data = data0.merge(df3, how="left", left_on=["userId", "movieId"], right_on=["userId","movieId"])
data[data['userId'] == 2]
#data.info()

,userId,movieId,rating,title,genres,tag
232,2,318,3.0,"Shawshank Redemption, The (1994)",Crime|Drama,NaN
233,2,333,4.0,Tommy Boy (1995),Comedy,NaN
234,2,1704,4.5,Good Will Hunting (1997),Drama|Romance,NaN
235,2,3578,4.0,Gladiator (2000),Action|Adventure|Drama,NaN
236,2,6874,4.0,Kill Bill: Vol. 1 (2003),Action|Crime|Thriller,NaN
237,2,8798,3.5,Collateral (2004),Action|Crime|Drama|Thriller,NaN
238,2,46970,4.0,Talladega Nights: The Ballad of Ricky Bobby (2...,Action|Comedy,NaN
239,2,48516,4.0,"Departed, The (2006)",Crime|Drama|Thriller,NaN
240,2,58559,4.5,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX,NaN
241,2,60756,5.0,Step Brothers (2008),Comedy,funny|Highly quotable|will ferrell
242,2,68157,4.5,Inglourious Basterds (2009),Action|Drama|War,NaN
243,2,71535,3.0,Zombieland (2009),Action|Comedy|Horror,NaN
244,2,74458,4.0,Shutter Island (2010),Drama|Mystery|Thriller,NaN
245,2,77455,3.0,Exit Through the Gift Shop (2010),Comedy|Documentary,NaN
246,2,79132,4.0,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,NaN
247,2,80489,4.5,"Town, The (2010)",Crime|Drama|Thriller,NaN
248,2,80906,5.0,Inside Job (2010),Documentary,NaN
249,2,86345,4.0,Louis C.K.: Hilarious (2010),Comedy,NaN
250,2,89774,5.0,Warrior (2011),Drama,Boxing story|MMA|Tom Hardy
251,2,91529,3.5,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX,NaN
252,2,91658,2.5,"Girl with the Dragon Tattoo, The (2011)",Drama|Thriller,NaN
253,2,99114,3.5,Django Unchained (2012),Action|Drama|Western,NaN
254,2,106782,5.0,"Wolf of Wall Street, The (2013)",Comedy|Crime|Drama,drugs|Leonardo DiCaprio|Martin Scorsese
255,2,109487,3.0,Interstellar (2014),Sci-Fi|IMAX,NaN
256,2,112552,4.0,Whiplash (2014),Drama,NaN
257,2,114060,2.0,The Drop (2014),Crime|Drama|Thriller,NaN
258,2,115713,3.5,Ex Machina (2015),Drama|Sci-Fi|Thriller,NaN
259,2,122882,5.0,Mad Max: Fury Road (2015),Action|Adventure|Sci-Fi|Thriller,NaN
260,2,131724,5.0,The Jinx: The Life and Deaths of Robert Durst ...,Documentary,NaN

In [ ]:
#once this data table is created, create a interaction matrix to calculate corelation scores between movies 

#find a appropriate way to calculate correlation scores for movies

#once interaciton matrix is created, we can create a KNN algorithm that uses custom corelation scores to determien the k nearest
#enighbors.

In [ ]:
#df4 = pd.read_csv('movielense\\\\genome-score.csv', index_col=0)
#df4.head()
#df4.info()

In [ ]:
#df5 = pd.read_csv('movielense\\\\genome-tags.csv', index_col=0)
#df5.head()
#df5.info()

In [ ]:
#categorizing genres and tags

In [51]:
#splitting into training and testing
n, d = df1.shape
h1 = round(0.8 * n)
h2 = n - h1
df1h1 = df1.iloc[:h1]
df1h2 = df1.iloc[h1:]
df1h2

,title,genres
movieId,,
92008,Haywire (2011),Action|Thriller
92046,Contact High (2009),Comedy
92048,"Whistleblower, The (2010)",Drama|Thriller
92094,Einstein and Eddington (2008),Drama
92192,Apollo 18 (2011),Horror|Sci-Fi|Thriller
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
#when exporting
#df.to_csv('movielense\ml-latest-small-cleaned\moviesclean.csv')