# Movie Recommender System Analysis

## Dataset preprocessing steps

1. Remove any entries empty values in either the genres, ratings or tags attributes (script1) X
2. Categoryze the Genre and tags attribute through categorical bining or multi-classification (script2) 
3. Split the dataset 80/20 into training and testing set and save them seperately (script3) X
4. Keep testing labels seperate for scoring purposes but use testing features for testing

the following script will to step one of the data preprocessing

In [3]:
#library definitions
import pandas as pd

In [50]:
df1 = pd.read_csv('movielense\\ml-latest-small\\movies.csv', index_col=0)
#df1.head()
df1.info()
#df1.isnull().sum() #to confirm dataframe is clean of empty values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9742 entries, 1 to 193609
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   9742 non-null   object
 1   genres  9742 non-null   object
dtypes: object(2)
memory usage: 228.3+ KB

In [38]:
df2 = pd.read_csv('movielense\\ml-latest-small\\ratings.csv', index_col=0)
#df2.head()
#df2.info()
df2.isnull().sum() #to confirm dataframe is clean of empty values

movieId      0
rating       0
timestamp    0
dtype: int64

In [39]:
df3 = pd.read_csv('movielense\\ml-latest-small\\tags.csv', index_col=0)
#df2.head()
#df3.info()
df3.isnull().sum() #to confirm dataframe is clean of empty values

movieId      0
tag          0
timestamp    0
dtype: int64

In [ ]:
#df4 = pd.read_csv('movielense\\\\genome-score.csv', index_col=0)
#df4.head()
#df4.info()

In [ ]:
#df5 = pd.read_csv('movielense\\\\genome-tags.csv', index_col=0)
#df5.head()
#df5.info()

In [ ]:
#categorizing genres and tags

In [51]:
#splitting into training and testing
n, d = df1.shape
h1 = round(0.8 * n)
h2 = n - h1
df1h1 = df1.iloc[:h1]
df1h2 = df1.iloc[h1:]
df1h2

,title,genres
movieId,,
92008,Haywire (2011),Action|Thriller
92046,Contact High (2009),Comedy
92048,"Whistleblower, The (2010)",Drama|Thriller
92094,Einstein and Eddington (2008),Drama
92192,Apollo 18 (2011),Horror|Sci-Fi|Thriller
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
#when exporting
#df.to_csv('movielense\ml-latest-small-cleaned\moviesclean.csv')